<div class="container">
    <br><br>


<!-- 

    תרגול משלב טופס ובקרת זרימה באנגולר

 מודול: פיתוח אתרים דינמיים עם Angular

 פתוח להגשה מתאריך: 14 במרץ 2022

 מועד אחרון להגשה: שלישי, 22 במרץ 2022 22:00, Asia/Jerusalem

 -->


<app-sweet-cake></app-sweet-cake>





    <!-- 

תרגול אנגולר - טמפרטורה

מודול: פיתוח אתרים דינמיים עם Angular

פתוח להגשה מתאריך: 10 במרץ 2022

מועד אחרון להגשה: ראשון, 20 במרץ 2022 22:00, Asia/Jerusalem 

-->




    <!-- 
        
        <app-temp-meter></app-temp-meter>
    
    -->





    <!-- 
    
תרגול אנגולר - Text Interpolation

 מודול: פיתוח ב-JavaScript

 פתוח להגשה מתאריך: 7 במרץ 2022

 מועד אחרון להגשה: שני, 14 במרץ 2022 22:00, Asia/Jerusalem 

-->





    <!-- 
        
        <app-singer-comp></app-singer-comp>
    
    -->







    <!-- 
        
        תרגול קומפוננטות אנגולר

 מודול: פיתוח אתרים דינמיים עם Angular

 פתוח להגשה מתאריך: 28 בפברואר 2022

 מועד אחרון להגשה: שישי, 11 במרץ 2022 22:00, Asia/Jerusalem

-->




    <!-- 
        
        <app-title-comp></app-title-comp>
<app-body-comp></app-body-comp>
<app-picture-comp></app-picture-comp>

-->


</div>